#main {
  margin: 30 px 10px;
  padding: 10px;
  background-color: #eee;
}

.text-center {
  text-align: center;
}
#container {
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 35px;
  margin-inline-end: 35px;
  background-color: #fff;
}

img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#description {
  display: block;
  font-size: 15px;
  text-align: center;
  margin: 15px 0 5px 0;
  padding-bottom: 15px;
}

#heading {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

ul {
  font-family: verdana;
  font-size: 16px;
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  margin-block-start: 16px;
  margin-block-end: 16px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  margin: 16px 0;
}

.quote {
  font-weight: 400px;
  font-size: 16px;
  margin: 0 auto 50px auto;
  max-width: 545px;
  font-style: italic;
  text-align: left;
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  /*margin-inline-start: 0px;
  margin-inline-end: 0px; */
}
